.vs/
.idea/
.vscode/
**/bin/
**/obj/
artifacts/staging/
artifacts/packages/*.zip
*.user
*.suo
*.cache
*.log
config/user.config
src/HADash.App/config/user.config
src/HADash.App/logs/*
!src/HADash.App/logs/.gitkeep
src/HADash.App/backups/*
!src/HADash.App/backups/.gitkeep
src/HADash.App/temp/*
!src/HADash.App/temp/.gitkeep
